# macOS
.DS_Store

# Swift Package Manager
/.build
/Packages
Package.resolved
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Xcode
xcuserdata/
DerivedData/
*.xcodeproj
*.xcworkspace
!default.xcworkspace
*.playground

# Build artifacts
*.o
*.dylib
*.dSYM

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
